{% extends 'base.html' %}

{% block main %}
<h1 class="page-header">Uploads</h1>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="alert alert-success">
      <ul class="flashes">
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endwith %}


<h3>Picture uploads</h3><hr>
<ul class="list-unstyled">
{% for pic in pic %}
 <li>
    <img src="static/uploads/{{pic}}">
    </li>
    {% endfor %}
    </ul>

<h3> Additional file uploads</h3><hr>

<ul>
  
{% for file in file %}
  <li> {{file}}</li>
  
 
{% endfor %}
</ul>

{% endblock %}